{% extends "core/base.html" %}
{% load static %}

{% block titulo %}
<title>Gestión de Solicitar</title>
<link rel="stylesheet" href="{% static 'core/css/bodega.css' %}">
{% endblock %}
{% block content %}

<div class="table-responsive">
  <div class="container-fluid">
    <div class="table table-bordered" id="estiloTabla">
      <table class="table" id="estilo">
        
        <thead>
        
          <tr>
            <div>
              <center>
                <h1 style="background-color: rgba(92, 171, 85, 0.62); color: white">Solicitar insumos</h1>
              </center>
            </div>
            <div class="row">
              <th class="col-xs-3" scope="col">#1</th>
              <th class="col-xs-3" scope="col">Nombre</th>
              <th class="col-xs-3" scope="col">Cantidad</th>
              <th class="col-xs-3" scope="col">Opciones</th>
  
            </div>
          </tr>
        </thead>
        <tbody>
  
  
            
  
          {% for solicitar in solicitars %}
          <tr>
            <th class="col-xs-3" scope="row">{{solicitar.idSolicitar}}</th>
            <td class="col-xs-3">{{solicitar.nombreSolicitar}} </td>
            <td class="col-xs-3">{{solicitar.cantidadSolicitar}}</td>
          
            <td class="col-xs-6"> <a href="{% url 'form_mod_solicitar' solicitar.idSolicitar %}" class="btn btn-warning">Modificar</a>
            </td>
            <td class="col-xs-6"> <a href="{% url 'form_del_solicitar' solicitar.idSolicitar %}" class="btn btn-danger">Eliminar</a>
            </td>
          </tr>
          {% endfor %}
  
        </tbody>
      </table>
    </div>
</div>

  <a href="{% url 'form_solicitar' %}" class="btn btn-secondary" style="background-color: rgba(92, 171, 85, 0.62);">Agregar Producto</a>
</div>


{% endblock %}